button{
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 50%;
}

.fa {
    color: black;
}

.fas{
    color: black;
}
button:hover{
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.pulse:hover::before,
.pulse:hover::after {
    content: '';
    position: absolute;
    border: 1px solid #29AEE3;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse_border 1.8s linear infinite;
   }   

   .pulse:hover:after {
    animation-delay: 1s;
   } 
   
   .pulse {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    background: #5CC2EA;
    border-radius: 50%;
   }

.content{
    text-align: center;
    width: 100%;
}

#result{
    border: dashed gray 4px;
    padding: 20px; 
}

#result:hover{
    font-style: italic;
    font-size: 20px;  
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes pulse_border {
    0% {
     transform: scale(0.5);
     opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
     transform: scale(1.2);
     opacity: 0;
    }
   } 